body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px;
  }
  
  nav {
    background-color: #444;
    color: #fff;
    text-align: center;
    padding: 10px;
  }
  
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  li {
    display: inline-block;
    margin: 0 10px;
  }
  
  li a {
    color: #fff;
    text-decoration: none;
  }
  
  li a:hover {
    text-decoration: underline;
  }
  
  main {
    padding: 20px;
  }
  
  h2 {
    color: black;
  }
  
  p {
    color: black;
  }
  nav li :hover {
    background-color:#444;
  }

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
  }
  form {
    background-color: #1b1d31;
    display: flex;
flex-direction: column;
padding: 50px;
width: 420px;
box-shadow: 0 0 20px rgba(0,0,0,0.2);
text-align: center;

  }
  form h2 {
    font-size: 30px;
    color: antiquewhite;
    margin-bottom: 35px;

  }
  input {
    padding: 17px;
    border-radius: 25px;
    background-color:transparent;
    border: 2px solid #603432;
    margin-bottom: 30px;
    outline: none;
    color: #ffffff; 
    font-size: 16px;
    
  }
  ::placeholder {
    color: #89879B;
  }
  .btn:hover {
    background-color: #E53854;
    border: 2px solid #E53854;
    cursor: pointer;
  }
  .btn {
    background-color: #f33f5a;
    border: 2px solid  #f33f5a;
  }
  @media (max-with:991px) {
    body {
        padding: 30px;
    }
form {
    width: 340px;
}
  }